#information-table {
  table {
    margin: 0;

    thead {
      display: none;
    }

    tr {
      background-color: transparent;
    }

    td {
      border: none;
      padding: 0.25em 0;

      &:nth-child(1) {
        font-weight: 600;
        padding-right: 0.5em;

        &::before,
        &::after {
          content: '"';
          opacity: 0.5;
          font-weight: 400;
        }
      }

      &:nth-child(2) {
        &::before {
          content: "=";
          opacity: 0.5;
          padding-right: 0.5em;
        }
      }
    }
  }

  a[href^="#preferences-"] {
    font-size: 0.75em;
  }
}

.preferences {
  border: 1px solid var(--theme-popup-border);
  border-radius: var(--border-radius);
  overflow: hidden;

  display: flex;
  flex-direction: column;

  & > * {
    border: none;
    background: none;

    font-family: inherit;
    font-size: inherit;
  }

  & > *:first-child {
    border-radius: 0;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  & > *:last-child {
    border-radius: 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  & > *:not(:last-child) {
    border-bottom: 1px solid var(--theme-popup-border);
  }

  & > *:target {
    outline: 2px solid var(--sidebar-active);
    outline-offset: -2px;
  }

  & > *:hover {
    background-color: color-mix(
      in srgb,
      var(--sidebar-bg) 50%,
      transparent
    ) !important;
    color: var(--sidebar-fg);
  }

  // background-color: var(--theme-popup-border);
}

#presets {
  padding: 0;

  .preset {
    display: grid;
    grid-template:
      "name checkmark"
      "description checkmark";
    grid-template-columns: 1fr auto;

    margin: 0;
    padding: 0.75rem 1rem;
    padding-bottom: 0.85rem; /* same as p font-size */

    text-align: left;

    &:checked {
      background-color: var(--theme-popup-border);
    }

    strong {
      grid-area: name;
    }

    p {
      grid-area: description;
    }

    input[type="radio"] {
      grid-area: checkmark;
    }
  }

  p {
    margin: 0;
    font-size: 0.85em;

    opacity: 0.75;
  }

  input[type="radio"] {
    align-self: center;
    appearance: none;

    &::before {
      content: " ";

      font-family: "Material Icons";
      font-size: 1.5em;

      display: inline-block;
      width: 1em;
      height: 1em;

      margin-left: 0.5em;
    }

    &:checked::before {
      content: "\e5ca";
    }
  }
}

#namevars {
  label {
    display: grid;
    grid-template:
      "name name"
      "input revert";
    grid-template-columns: 1fr auto;
    user-select: none;

    &:hover {
      background-color: inherit;
    }

    &:focus-within {
      background-color: var(--sidebar-bg);
      color: var(--sidebar-fg);
    }

    & span {
      font-size: 0.85rem;
      font-weight: bold;

      margin: 0.75rem 1rem;
      margin-bottom: 0.25rem;
    }

    & > span:first-child {
      grid-area: name;
    }

    .input {
      grid-area: input;
    }

    .revert-button {
      grid-area: revert;
    }
  }

  .input {
    font-family: inherit;
    font-size: inherit;

    padding: 0.35em 0rem;
    margin: 0 1rem;
    margin-bottom: 0.25rem;
    text-indent: 0;

    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  .revert-button {
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);

    padding: 0;

    margin: 0.25rem;
    margin-left: 0;

    &:hover {
      background-color: var(--search-mark-bg);
    }

    .material-icons {
      line-height: 0;
    }
  }
}
