:root {
  --sidebar-width: 150px;
  --menu-bar-height: 40px;
  --content-max-width: 660px;
  --mono-font: "Inconsolata", monospace;
  --code-font-size: 1em;
  --toc-width: 200px;
  --font-size: clamp(0.95rem, 0.8167rem + 0.5333vw, 1.15rem);

  font-size: var(--font-size);
}

html {
  font-family: "Reddit Sans", "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
  font-size: 1em;
}

dialog {
  z-index: 1000;
  background-color: var(--theme-popup-bg);
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content-alert .title {
  font-size: 1.5em;
}

#content-alert .warning {
  max-width: 600px;
}

#content-alert .warning::before {
  background-color: var(--theme-popup-bg);
}

#content-alert button {
  margin: 1em 0.5em;
  border: 1px solid var(--theme-popup-border);
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
}

#content-alert button.primary-button {
  background-color: var(--links);
}

#content-alert button.primary-button:hover {
  filter: brightness(1.25);
}

.content p,
.content ul {
  line-height: 1.5;
}

.menu-title {
  font-weight: 400;
  font-size: 1em;
}

.warning {
  padding: 0 1.5rem;
}

.warning::before {
  height: 2rem;
  line-height: 1.25;
  margin-inline-start: calc(-1.5rem * 2 - 0.05rem);
}

li {
  margin: 0.5em 0;
}
